* {
    background-color: #D0D0D7;
    font-family: m6x11plus;
    font-size: 18px;
    spacing: 1px;
    color: white;
}

button {
    font-size: 24px;
    color: white;
    text-align: center;
    text-align-vertical: center;
    button-style: default;
}

panel {
    background-color: #676774;
    border-color: #FFFFFF;
    border-width: 2px;
}

slider {
    fill: #2374ff;
    background-color: #E9E9ED;
    border-color: #9696A2;
    border-width: 2px;
}

textbox {
    color: black;
    text-align: left;
    text-align-vertical: top;
    spacing: 1px;
}

tooltip {
    color: black;
    border-color: gray;
    background-color: rgb(123, 123, 123);
    border-radius: 5;
    border-width: 2px;
}