/*
    #222831 - Background
    #393e46 - Borders
    #948979 - Background 2
    #dfd0b8 - Borders 2
*/

/*
    Default props:
    protected Font _font;
	protected int _fontSize = 5;
	protected int _textSpacing = 1;
	protected Color _textColour = Color.White;
	protected HorizontalTextAlignment _horizontalTextAlignment = HorizontalTextAlignment.Left;
	protected VerticalTextAlignment _verticalTextAlignment = VerticalTextAlignment.Top;
	protected Color _backgroundColour = Color.White;
	protected Color _borderColour = Color.White;
	protected float _borderRadius = 0f;
*/

* {
    font-family: m6x11plus;
    font-size: 18px;
    spacing: 1px;
    color: white;
    text-align: left;
    text-align-vertical: top;
    background-color: #222831;
    border-color: #393e46;
    border-width: 5px;
    border-radius: 0;
}

button {
    font-size: 24px;
    color: white;
    text-align: center;
    text-align-vertical: center;
    button-style: default;
}

panel {
    background-color: #948979;
    border-color: #dfd0b8;
    border-width: 5px;
}

slider {
    fill: #393e46;
    border-width: 2px;
}

textbox {
    color: black;
    text-align: left;
    text-align-vertical: top;
    spacing: 1px;
}

text-input {
    border-width: 0;
    border-radius: 15%;
}

tooltip {
    border-radius: 15%;
    border-width: 5px;
}